{% extends 'base.html' %}
{% block subtitle %}Dgroup - {% endblock %}

{% block body %}

	<h2>Dgroup Information</h2>
	
	{% if user.is_authenticated %}
		<h4>Logged in as {{ user.username }} ({{ user.first_name }} {{ user.last_name }})</h4>
		<div>
			{% if dgroup is not None %}
			<span>You are under: <em>{{ dgroup.dgroup_name }}:</em></span>
			<ol>
				<li>{{ dgroup.members }}</li>
			</ol>
			{% else %}
			<span>You do not belong to a Dgroup</span>
			{% endif %}
		</div>
	{% else %}
		<h4>You are not logged in.</h4>
		<a href="{% url 'journal:login' %}">Log in here</a>
		Or, <a href="{% url 'journal:register' %}">Sign up instead</a>
	{% endif %}

{% endblock %}